<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ea tempore temporibus dolorum in perferendis suscipit, aliquam magnam laudantium corporis laboriosam eligendi facilis aspernatur cumque mollitia laborum beatae aut voluptate ad odio? Dolore repellat doloremque, perferendis quam odio minima deleniti fuga dolorum asperiores ut fugiat quis voluptatem necessitatibus eveniet obcaecati nihil odit iure architecto repellendus libero vitae in! Repellendus quaerat aliquam eligendi voluptatum minima iste voluptas rem, eius expedita officiis sit accusamus corporis quis nobis consequatur? A nam optio inventore fugiat corporis et maxime architecto, consequatur ab, nesciunt quis itaque dolore error eius molestiae repellendus quia, nulla aperiam velit nisi? Voluptatibus iste recusandae unde quod, laborum quibusdam dolore, soluta cumque provident tenetur nesciunt. Iusto corporis iure distinctio esse fugiat ut! Odio sequi perferendis porro modi animi! Aliquam, blanditiis fugiat porro iusto ab voluptatum corrupti voluptatibus pariatur modi, ex nisi vitae id, dolor adipisci cumque sit nesciunt quaerat rem quisquam minus nobis expedita dolorem. Laborum quod alias magnam numquam nam, quasi commodi repellat aut a iste saepe officiis natus fuga veritatis asperiores! Possimus provident quod consequuntur porro ducimus laudantium dicta pariatur, quas nesciunt doloremque, numquam itaque repudiandae expedita perspiciatis sequi sed. Nemo eos iure omnis enim porro optio, animi veritatis eligendi harum placeat quos consequatur totam ratione facilis deserunt aliquam ipsa dolore. Officia velit, rem ut ipsa distinctio, minus officiis eius nobis quo ratione libero doloremque. Labore enim aut omnis alias quis officiis! Facilis at earum porro perspiciatis quidem nihil cumque sunt nulla recusandae hic vero blanditiis ex rerum quis, qui sequi error sint unde repellat fuga nostrum perferendis suscipit. Odio laudantium blanditiis consectetur tempora reiciendis voluptate culpa ipsa voluptatum incidunt, dicta nostrum eum omnis adipisci illo rem ratione iusto vero doloribus possimus magnam? Consectetur fugiat quisquam ducimus. Architecto laboriosam nesciunt, vero esse at recusandae modi cumque dolore, cupiditate, aut corrupti?</p>
      </section>
    </main>
    <%- include('partials/footer')%>

  </body>
</html>

